<section id="i-nw-tproject" class="it-nw-project-section">
    <div class="it-nw-section-title headline pera-content text-center middle-align wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <span class="it-nw-title-tag">Latest Project </span>
        <h2>Our Wonderful Gallery</h2>
        <p>Our dream company wants to reach a high tech it word and help Bangladesh Economy. Our dream is your satisfaction.
        </p>
    </div>
    <div class="it-nw-project-content">
        <div class="it-nw-project-slider-area">
            
            {% for pg in project_gallery %}
            <div class="it-nw-project-innerbox position-relative wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="it-nw-project-inner-img">
                    <img src="{{ pg.image.url }}" alt="">
                </div>
                <div class="it-nw-project-inner-text position-absolute headline">
                    <span>{{ pg.project_type }}</span>
                    <h3><a href="#">{{ pg.title }}</a></h3>
                </div>
                <div class="it-nw-project-link">
                    <a class="d-flex align-items-center justify-content-center" href="#"><i class="flaticon-link"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="it-nw-btn text-center text-center wow flipInX" data-wow-delay="200ms" data-wow-duration="1500ms">
            <a class="d-flex justify-content-center align-items-center" href="#">Get Started <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</section>	