
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="it-nw-about" class="it-nw-about-section position-relative">
    <div class="it-nw-side-bg text-center position-absolute"><img src="static/assets/img/its-2/side-line.png" alt=""></div>
    <div class="it-nw-dot-bg text-center position-absolute"><img src="static/assets/img/its-2/dot.png" alt=""></div>
    <div class="container" style="margin-top: 10%;">
        <div class="row">
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="it-nw-about-img-wrapper">
                    <div class="it-nw-about-img-area d-flex">
                        <div class="it-nw-about-img">
                            <img src="{% static 'assets/img/its-2/about/ab1.jpg' %}">
                        </div>
                        <div class="it-nw-about-img-2">
                            <img src="{% static 'assets/img/its-2/logo/badge.png' %}">
                        </div>
                    </div>
                    <div class="it-nw-about-img-area d-flex">
                        <div class="it-nw-about-img">
                            <img src="{% static 'assets/img/its-2/about/ab2.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="it-nw-about-text-wrapper">
                    <div class="it-nw-section-title headline pera-content">
                        <span class="it-nw-title-tag">About our Company </span>
                        <h2>We Offer Best Creatives IT 
                        Solutions & Consulting Firm</h2>
                        <p> Our vertical solutions expertise allows your business to streamline workflow, and increase productivity. No matter the business pure as has you covered with industry compliant solutions.</p>
                    </div>
                    <div class="it-nw-about-tab-wrapper">
                        <div class="it-nw-about-tab-btn">
                            <ul id="tabs" class="nav text-capitalize nav-tabs">
                                <li class="nav-item"><a href="#" data-target="#history" data-toggle="tab" class="nav-link text-capitalize active">Company History</a></li>
                                <li class="nav-item"><a href="#" data-target="#mission" data-toggle="tab" class="nav-link text-capitalize">Our Mission</a></li>
                                <li class="nav-item"><a href="#" data-target="#vision" data-toggle="tab" class="nav-link text-capitalize">Our Vision</a></li>
                            </ul>
                        </div>
                        <div class="it-nw-about-tab-content ul-li-block pera-content">
                            <div id="tabsContent" class="tab-content">
                                <div id="history" class="tab-pane fade active show">
                                    <div class="it-nw-about-tab-content">
                                        
                                        <ul>
                                            <li>Creative Websites Design</li>
                                            <li>Web Application</li>
                                            <li>Cost Accounting Fundamentals</li>
                                            <li>Corporate Cash Management</li>
                                            <li>Responsive website</li>
                                            <li>Ui/Ux and products design</li>
                                            <li>E-commarce Service</li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="mission" class="tab-pane fade">
                                    <div class="it-nw-about-tab-content">
                                        <p>Our Mission belief, a good effective and contentfull rich product will help to grow up your carrer and business too. </p>
                                        <ul>
                                            <li>Creative Websites Design</li>
                                            <li>Web Application</li>
                                            <li>Cost Accounting Fundamentals</li>
                                            <li>Corporate Cash Management</li>
                                            <li>Responsive website</li>
                                            <li>Ui/Ux and products design</li>
                                            <li>E-commarce Service</li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="vision" class="tab-pane fade">
                                    <div class="it-nw-about-tab-content">
                                        <p>Our vision is we can help you too create a better future of your business. Clients satisfaction is my main goal.</p>
                                        <ul>
                                            <li>Creative Websites Design</li>
                                            <li>Web Application</li>
                                            <li>Cost Accounting Fundamentals</li>
                                            <li>Corporate Cash Management</li>
                                            <li>Responsive website</li>
                                            <li>Ui/Ux and products design</li>
                                            <li>E-commarce Service</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="it-nw-about-bottom d-flex position-relative">
                            <div class="it-nw-btn  text-center">
                                <a class="d-flex justify-content-center align-items-center" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div>
                            <span class="it-nw-about-arrow position-absolute"><img src="static/assets/img/its-2/logo/arrow.png" alt=""></span>
                            <div class="it-nw-about-cta d-flex">
                                <div class="it-nw-ab-cta-icon d-flex justify-content-center align-items-center">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="it-nx-about-cta-text headline">
                                    <span>Contact Us</span>
                                    <h4>+8801760636935</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    